body {
	background-color: red1;
	margin: 10px 30px;
	background-color: rgb(241,241,241);
	
   	font-family: 'Brush Lettering One'; 

	font-weight: normal; 
	font-style: italic; 
	
}

#outer {
	width: 1000px;
	background-color: rgb(241,255,255);
}

#header {
	width: 100%;
	height: 200px;
	background-color: rgb(215,180,255);
	position: relative;
}
#header h1 {
	position: absolute;
	bottom: 80px;
	left: 350px;
}
#menu {
	position: absolute;
	bottom:50px;
	left: 200px;
}

#main {
	width: 800px;
	margin: 0px 0px 20px 100px;
	b1ackground-color: rgb(100,180,255);	
}

#footer {
	width: 100%;
	height: 200px;
	background-color: rgb(215,180,255);
	position: relative;	
}
#copyr {
	position: relative;
	
	width: 100%;
	text-align: center;
	position: absolute;
	top: 80px;
}
#attribution {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

img.preview {
	width: 100%;
}
img.heading {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 200px;
	opacity: 0.9;
}

