body {
	margin: 10px 30px;
	background-color: rgb(241,241,241);
	font-family: 'Brush Lettering One'; 
	font-weight: normal; 
	font-style: italic;
}

#outer {
	width: 1000px;
	background-color: rgb(241,255,255);
}

#header {
	width: 100%;
	height: 200px;
	background-color: rgb(215,180,255);
	position: relative;
}

#header h1 {
	position: absolute;
	top: 50px;
	left: 300px;
}

#main {
	width: 800px;
	margin: 0px 0px 0px 100px;
	b1ackground-color: rgb(100,180,255);	
}

#footer {
	width: 100%;
	height: 200px;
	background-color: rgb(215,180,255);
}

